<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr Ella Guest</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6fabf73c0.js" crossorigin="anonymous"></script>

</head>

<body>
    <section class="views-header">
        <nav class="nav views-nav">
            <a href="index.html"><img src="../images/simple_logo.png" alt="" id="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../index.html#about">ABOUT</a></li>
                    <li><a href="../index#work">WORK</a></li>
                    <li><a href="./speaking">SPEAKING</a></li>
                    <li><a href="./media.html">MEDIA</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
       
      
       
        <section class="section-area" id="resources">
            <h1>Publications</h1>
            <p>Explore Dr. Ella Guest's extensive research through the publication table available on this site. 
                You can filter the publications by keyword and organize the entries by title, date, or lead author by clicking on the corresponding button. 
                This feature allows for easy navigation and access to the specific information you are looking for.
            </p>
                <input type="text"  id="filter-input" placeholder="Enter keyword to filter">
                <button class="publications-button" id="filter-button" onclick="filterPublications()">Filter</button>
                <button class="publications-button" id="sort-date">Sort by Date</button>
                <button class="publications-button" id="sort-authors">Sort by Authors</button>
                <button class="publications-button" id="sort-title">Sort by Title</button>
            <table id="publications-table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Title</th>
                        <th onclick="sortTable(1)">Date</th>
                        <th onclick="sortTable(2)">Authors</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Publications data will go here on loading page -->
                </tbody>
            </table>
        </section>
    </section>
    <script src="../publications.js"></script>
</body>


</html>